.four-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
}


.four-grid figure {
  width: 100%;
  height: 33vh;
  overflow: hidden;
  margin: 0;
}
.four-grid figure img {
  width: 100%;
  height: 33vh;
}

.namibia-activities-header {
  font-size: 2em;
  text-align: center;
  margin-bottom: 5vh;
}

.gridCover {
  width: 100%;
  height: 33vh;
  background: linear-gradient(180deg, #8A8782, black 80%, black);
  opacity: 0.4;
  z-index: 5;
  position: absolute;
  margin-bottom: 20vh;
}

.picCaption {
  width: 25vw;
  z-index: 10;
  color: white;
  position: absolute;
  text-align: center;
  margin-top: -20vh;
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
}

.go-to-recommendation {
  margin-top: 5vh;
  font-size: 1.5rem;
  width: 300px;
  margin-left: calc( 50vw - 150px );
  border: solid 0.5px #8B8884;
  padding: 10px;
}

.go-to-recommendation-text {
  padding: 10px;
  text-decoration: none;
}

.go-to-recommendation a {
  color: #8B8884;
}

.go-to-recommendation a:hover {
  color: white;
}

.go-to-recommendation:hover {
  background-color: #8B8884;
  cursor: pointer;
}

.gridContainer {
  width: 100%;
  height: 33vh;
}

