@media only screen and (min-device-width : 375px) and (max-device-width : 750px) {
  .landing-image#landing-image-mobile-change {
    background-size: auto 100%;
    background-image: url("../resources/static/images/sixGrid/bgMobile.jpg");
    height: 97vh;
  }

  .landing-caption {
    margin-top: 13vh;
  }

  .background-layer#background-layer-mobile-change {
    opacity: 0.3;
    height : 97vh;
  }

  .landing-caption#mobile-caption-size-change {
    margin-top: 30vh;
    font-size: 13em;
  }

  .quote-web-linebreak {
    display: none;
  }

  .quote-cover {
    font-size: 3.5rem;
  }

  .quote-author {
    font-size: 3rem;
  }

}