$africa-map-min-width: 316px;


// home

.home-container {
  min-height: 100%;
}

#application-container {
  width: 100%;
  overflow-y: auto;
}

.landing-image-container {
  width: 100%;
  height: 100vh;
}

.landing-image {
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../resources/static/images/web/giraffes.jpg");
}

.fa-caret-down, .landing-caption {
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 5;
  color: white;
}

.fa-caret-down {
  font-size: 6vh;
  padding-top: 30vh;
  -webkit-animation: breathing 4s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;
}

.landing-caption {
  font-family: 'Dancing Script', cursive;
  font-size: 7em;
  margin-top: 35vh;
}

.background-layer {
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  opacity: 0.8;
  width: 100%;
  height: 100vh;
}


// safari

.safari-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 2.5rem;
  line-height: 1.5;
  height: 60%;
  min-height: 24vw;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("../resources/static/images/backgrounds/45degreee_fabric.png");
}

.safari-left {
  overflow: hidden;
  position: relative;
  justify-content: center;
  display: flex;
}

.safari-text-parent {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.safari-title {
  font-family: "Cookie", cursive;
  font-size: 4vw;
  margin-top: -10vh;
}

.safari-caption {
  max-width: 60%;
  font-family: "Lato", italic;
  font-size: 1.5vw;
}

.our-schedule-button {
  margin-top: 1vh;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-size: 2vh;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.3);
}

.our-schedule-button {
  padding: 10px;
  text-decoration: none;
}

.our-schedule-button a {
  color: black;
}

.our-schedule-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.safari-right-antelope, .safari-right-lion {
  grid-template-rows: 1fr 18%;
  display: grid;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.safari-right-lion {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../resources/static/images/web/safari-animals.jpg");
}

.safari-right-antelope {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../resources/static/images/web/antelope.jpg");
}

.full-circle {
  background: white;
}

.empty-circle {
  background: rgba(255, 255, 255, 0.4);
}

.empty-circle:hover {
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.full-circle, .empty-circle {
  width: 12px;
  height: 12px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: solid 1px white;
  margin: 10px;
}

.circle-container {
  justify-self: end;
  padding: 20px;
}

.safari-info {
  background-color: rgba(118, 110, 102, 0.8);
  font-family: "Lato", sans-serif;
  font-size: 0.5em;
  text-align: left;
  padding: 5px 20px;
}

.safari-info-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

// destinations

.destinations {
  background-color: rgb(242, 240, 232);
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.destinations-title {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 4vh;
  letter-spacing: 3px;
  line-height: 4vh;
}

.destinations-text {
  max-width: 50%;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
  line-height: 4vh;
  letter-spacing: 1px;
  text-align: justify;
}

// grid

.gridContainer {
  width: 100%;
}

// expert

.expert-wrapper {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 80vh;
  background-color: white;
}

.expert-top {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: rgb(242, 240, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly
}

.expert-title {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 4vh;
  letter-spacing: 3px;
  line-height: 4vh;
}

.expert-info {
  max-width: 50%;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
  line-height: 4vh;
  letter-spacing: 1px;
  text-align: justify;
}

.expert-bottom {
  grid-column: 4 / 6;
  grid-row: 1 / 3;
  background: url("../resources/static/images/web/capricorn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.expert-left {
  background: url("../resources/static/images/web/gunnur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}


// email

.email-container {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  line-height: 1.5;
  height: 20%;
  min-height: 24vw;
  text-align: center;
  border-bottom: solid 1px rgb(100, 151, 177);
  background-image:
          linear-gradient(
                  rgba(100,151,177, 0.45),
                  rgba(100,151,177, 0.65)
  ), url("../resources/static/images/backgrounds/whirlpool.png");
}

.email-container div {
  margin: 2vh;
}

.email-label {
  margin-top: 8vh !important;
}

.email-input {
  min-width: 40%;
  font-size: 4vh;
  border-radius: 7px;
  border-width: 0.5px;
}

.email-submit {
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-size: 2vh;
  padding: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
}


.quote-container {
  letter-spacing: 2px;
  overflow: auto;
  font-size: 2.5rem;
  line-height: 1.5;
  padding: 10vh 0 10vh 0;
  text-align: center;
  /* Background pattern from Subtle Patterns */
  background-image: url("../resources/static/images/backgrounds/background_circles_light.png");
}

.quote-author {
  font-size: 1.5rem;
  text-align: center;
}

.namibia-description-container {
  width: 100%;
  overflow: auto;
  background-image: url("../resources/static/images/web/elephants.jpg");
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.namibia-description {
  line-height: 2;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6))
}

.africa-map {
  display: block;
  position: absolute;
  margin:auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}


// caret animation

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  60% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  100% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  60% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

  100% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
}