#application-container {
  width: 100%;
  overflow-y: auto;
}

// home

.home-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(15, 33vh);
}

.landing-image-container {
  grid-column: 1 / 6;
  grid-row: 1 / 8;
  width: 100%;
  height: 166vh;
  overflow: hidden;
  margin: 0;
  //background-color: aqua;
}

.landing-image {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: red;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../resources/static/images/web/giraffes.jpg");
}

.background-layer {
  position: absolute;
  width: 100%;
}

.landing-caption {
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 5;
  color: ivory;
  font-family: 'Dancing Script', cursive;
  font-size: 10em;
  margin-top: 35vh;
  margin-left: -35vh;
}

// safari

.visit-container {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
  width: 100%;
  display: flex;
  position: relative;
  font-size: 2.5rem;
  line-height: 1.5;
  min-height: 24vw;
  text-align: center;
  overflow: hidden;
  vertical-align: top;
  justify-content: center;
  background-image: url("../resources/static/images/backgrounds/45degreee_fabric.png");
}

.africa-map {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.visit-text {
  font-size: 4vw;
  letter-spacing: 0.8vh;
  margin-top: 25%;
  z-index: 2;
}

// destinations

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  background-color: ivory;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  grid-column: 1 / 6;
  grid-row: 1 / 6;
  margin-top: 75px;
  overflow: scroll;
}

.destinations-text {
  padding-left: 70vh;
  margin-top: 42vh;
  line-height: 7vh !important;
  position: absolute;
}

.destinations-title, .culture-title, .schedule-title {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 4vh;
  letter-spacing: 3px;
  line-height: 4vh;
}

.destinations-title {
  margin-top: 7vh;
  margin-left: 30vw;
  position: absolute;
}

.fa-angle-double-down {
  padding: 0px 20px;
}

.destinations-text, .culture-text {
  max-width: 50%;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
  line-height: 4vh;
  letter-spacing: 1px;
  text-align: justify;
}


// five grid

.five-grid {
  grid-column: 1 / 6;

  display: flex;
}

.first-grid {
  grid-row: 6 / 7;
}

.second-grid {
  grid-row: 9 / 10;
}

.five-grid figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.five-grid figure img {
  width: 100%;
  height: 100%;
}

.five-grid figcaption {
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  padding: 2vh;
  position: absolute;
}

// culture

.culture-container {
  grid-column: 1 / 4;
  grid-row: 7 / 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: ivory;
}

.culture-container div {
  margin: 2vh;
}

// heart

.heart-container {
  grid-column: 4 / 6;
  grid-row: 7 / 9;
  background-color: rgba(255, 182, 193, 0.2);
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.heart-info {
  max-width: 50%;
  font-size: 4vh;
  line-height: 6vh;
  letter-spacing: 1px;
  z-index: 6;
}

.destinations-map {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 70vh;
}

.destinations-map-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// schedule
.schedule-banner {
  grid-column: 1 / 2;
  grid-row: 10 / 12;
  display: flex;
  background-color: lightyellow;
  align-items: center;
  justify-content: center;
}


// expert
.expert-headshot {
  grid-column: 1 / 2;
  grid-row: 14 / 16;
  background: url("../resources/static/images/web/gunnur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.expert-info-wrapper {
  grid-column: 2 / 4;
  grid-row: 14 / 16;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.expert-title {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 4vh;
  letter-spacing: 3px;
  line-height: 4vh;
}

.expert-info {
  max-width: 50%;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
  line-height: 4vh;
  letter-spacing: 1px;
  text-align: justify;
}

.group-picture {
  grid-column: 4 / 6;
  grid-row: 14 / 16;
  background: url("../resources/static/images/web/capricorn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// email
//
//.email-container {
//  display: flex;
//  flex-direction: column;
//  font-size: 2.5rem;
//  line-height: 1.5;
//  height: 20%;
//  min-height: 24vw;
//  text-align: center;
//  border-bottom: solid 1px rgb(100, 151, 177);
//  background-image: linear-gradient(
//                  rgba(100, 151, 177, 0.45),
//                  rgba(100, 151, 177, 0.65)
//  ), url("../resources/static/images/backgrounds/whirlpool.png");
//}
//
//.email-container div {
//  margin: 2vh;
//}
//
//.email-label {
//  margin-top: 8vh !important;
//}
//
//.email-input {
//  min-width: 40%;
//  font-size: 4vh;
//  border-radius: 7px;
//  border-width: 0.5px;
//}
//
//.email-submit {
//  border-radius: 6px;
//  font-family: "Lato", sans-serif;
//  font-size: 2vh;
//  padding: 8px;
//  border: none;
//  background-color: rgba(255, 255, 255, 0.3);
//}
//
//.quote-container {
//  letter-spacing: 2px;
//  overflow: auto;
//  font-size: 2.5rem;
//  line-height: 1.5;
//  padding: 10vh 0 10vh 0;
//  text-align: center;
//  /* Background pattern from Subtle Patterns */
//  background-image: url("../resources/static/images/backgrounds/background_circles_light.png");
//}
//
//.quote-author {
//  font-size: 1.5rem;
//  text-align: center;
//}
//
//.namibia-description-container {
//  width: 100%;
//  overflow: auto;
//  background-image: url("../resources/static/images/web/elephants.jpg");
//  height: 70%;
//  background-attachment: fixed;
//  background-position: center;
//  background-repeat: no-repeat;
//  background-size: cover;
//}
//
//.namibia-description {
//  line-height: 2;
//  height: 100%;
//  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6))
//}
//.namibia-flag {
  //  grid-column: 3 / 4;
  //  grid-row: 11 / 12;
  //  background: url("../resources/static/images/flags/namibia-square.png");
  //  background-position: center;
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //}


// caret animation

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  60% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  100% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  60% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

  100% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
}

// heart

.heart {
  position: absolute;
  width: 100px;
  height: 90px;
  //float: left;
  z-index: 5;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: rgb(255, 182, 193);
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

//
//.safari-right-antelope, .safari-right-lion {
//  grid-template-rows: 1fr 18%;
//  display: grid;
//  overflow: hidden;
//  background-size: cover;
//  background-position: center;
//}
//
//.safari-right-lion {
//  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../resources/static/images/web/safari-animals.jpg");
//}
//
//.safari-right-antelope {
//  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../resources/static/images/web/antelope.jpg");
//}
//
//.full-circle {
//  background: white;
//}
//
//.empty-circle {
//  background: rgba(255, 255, 255, 0.4);
//}
//
//.empty-circle:hover {
//  background: rgba(255, 255, 255, 0.7);
//  cursor: pointer;
//}
//.full-circle, .empty-circle {
//  width: 12px;
//  height: 12px;
//  -moz-border-radius: 7px;
//  -webkit-border-radius: 7px;
//  border-radius: 7px;
//  border: solid 1px white;
//  margin: 10px;
//}
//
//.circle-container {
//  justify-self: end;
//  padding: 20px;
//}
//
//.safari-info {
//  background-color: rgba(118, 110, 102, 0.8);
//  font-family: "Lato", sans-serif;
//  font-size: 0.5em;
//  text-align: left;
//  padding: 5px 20px;
//}
//
//.safari-info-title {
//  font-family: "Montserrat", sans-serif;
//  font-size: 1.2em;
//}
