@import "navbar";
@import "home";
@import "grid";
@import "carousel";
@import "tail.scss";
@import "navbarMobile.scss";
//@import "homeMobile.scss";
@import "schedule";
@import "tailMobile";

//@import "~slick-carousel/slick/slick.scss";
//@import "~slick-carousel/slick/slick-theme.scss";

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  list-style: none;
  -webkit-padding-start: 0px;
}

div:hover {
  cursor: default;
}

figure {
  margin: 0;
  display: inherit;
}

::-webkit-scrollbar {
  display: none;
}