@import "navbar";
@import "home";
@import "grid";

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

ul {
  margin: 0;
  margin: 0;
  list-style: none;
}

div:hover {
  cursor: default;
}

::-webkit-scrollbar {
  display: none;
}