@import "homeMobile.scss";
@import "navbar";
@import "home";
@import "grid";
@import "tail.scss";


body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  list-style: none;
}

div:hover {
  cursor: default;
}

figure {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}