@media only screen and (min-device-width : 375px) and (max-device-width : 750px) {

  .navbar-container#navbar-container-mobile {
    display: inline-block;
    height: auto;
    min-height: 8vh;
    overflow-y: auto;
  }

  .navbar-us-container#navbar-about-us-mobile{
    float: left;
    width: 90vw;
    font-size: 3rem;
    margin-top: 1vh;
  }

  .navbar-us-container#navbar-contact-us-mobile {
    float: left;
    width: 90vw;
    font-size: 3rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .navbar-togo-item {
    font-size: 3rem;
    margin-top: 1vh;
  }

  .navbar-flag-container#navbar-turkish-mobile {
    float: left;
    display: none;
  }

  .navbar-flag-container#navbar-english-mobile {
    float: left;
    display: none;
  }

  .navbar-right#navbar-right-web {
    display: none;
  }

  .navbar-right-mobile#navbar-right-mobile {
    display: inline-block;
    color: red;
    text-decoration: none;
  }

  .navbar-togo-items ul li {
    width: 90vw;
  }

  .select-language-container-mobile {
    width: 99vw;
    overflow: auto;
  }

  .language-type-mobile {
    text-align: right;
    color: white;
    font-size: 3rem;
    margin-right: 2vw;
    margin-bottom: 2vh;
  }

  .navbar-logo#navbar-logo-mobile {
    width: 70vw;
    overflow-y: auto;
    text-align: center;
    margin-left: 15vw;
    font-size: 4rem;
  }

  .navbar-date {
    text-align: center;
  }

  .mobile-navicon-container {
    width: 10vw;
    float: left;
  }

  .navicon-container#navicon-container-mobile {
    display: inline-block;
    float: left;
    width: 10vw;
    text-align: center;
    margin-top: 1.5vh;
  }

  .navbar-left {
    width: 80vw;
    float: left;
  }

  .mobile-navicon {
    font-size: 4rem;
  }

}